body {
	background: #383838;
	color: #fff;
}
h1 {
	color: #fff;
}

.container {
	width: 500px;
	height: 600px;
	background: rgb(75, 169, 251);
	border: 4px solid rgb(255, 255, 255);
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.list-container,
.button-container {
	display: flex;
	gap: 10px;
}


